{% macro getQualifyingBenefit(data) %}

  {% set benefits = {
    'PIP': 'Personal Independance Payment',
    'DLA': 'Disability Living Allowance',
    'AA': 'Attendance Allowance',
    'CAA': 'Constant Attendance Allowance',
    'AFIP': 'Armed Forces Independence Payment',
    'EU': 'disability benefit'
  } %}

  {{ benefits[data['elig--qb']] }}
{% endmacro %}
