{% set resetServiceName = true %}

{% extends "layout.html" %}

{% block pageTitle %}
  Carer's Allowance Prototypes
{% endblock %}

{% block header %}

  <div class="prototype-remove-blue-border-from-header">

    {{ super() }}

    <div class="prototype-home-top">

      <div class="govuk-width-container">

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Carer’s Allowance</h1>

            <h1 class="govuk-heading-l govuk-!-font-weight-regular  govuk-!-margin-bottom-2">Prototype for UR</h1>

          </div>

        </div>
      
      </div>

    </div>
  
  </div>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

  <h2 class="govuk-heading-m">
        <a href="apply/ACA-1386-2/start-page.html" class="govuk-link--no-visited-state">
          Breaks in care - design 1
        </a>
      </h2>
      <p>March 2022</p>

        <h2 class="govuk-heading-m">
        <a href="apply/ACA-1386-1/start-page.html" class="govuk-link--no-visited-state">
          Breaks in care - design 2
        </a>
      </h2>
      <p>March 2022</p>


      <h2 class="govuk-heading-m">
        <a href="poc/E2E/index.html" class="govuk-link--no-visited-state">
          End to end new journey including residency and ID&T
        </a>
      </h2>
      <p>November 2021</p>

  <h2 class="govuk-heading-m">
        <a href="apply/ACA-1285/ACA-1285-2/start-page" class="govuk-link--no-visited-state">
          Breaks in care
        </a>
      </h2>
      <p>November 2021</p>

    </div>
  </div>

{% endblock %}
