{% set resetServiceName = true %}

{% extends "layout.html" %}

{% block pageTitle %}
  Carer's Allowance Prototypes
{% endblock %}

{% block header %}

  <div class="prototype-remove-blue-border-from-header">

    {{ super() }}

    <div class="prototype-home-top">

      <div class="govuk-width-container">

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Carer’s Allowance</h1>

            <h1 class="govuk-heading-l govuk-!-font-weight-regular  govuk-!-margin-bottom-2">Prototype for UR</h1>

          </div>

        </div>
      
      </div>

    </div>
  
  </div>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

  <h2 class="govuk-heading-m">
        <a href="apply/ACA-1472/live/start-page.html" class="govuk-link--no-visited-state">
          Date of claim old journey
        </a>
      </h2>
      <p>June 2022</p>

      <h2 class="govuk-heading-m">
        <a href="apply/ACA-1472/start-page.html" class="govuk-link--no-visited-state">
          Date of claim new journey
        </a>
      </h2>
      <p>June 2022</p>



  <h2 class="govuk-heading-m">
        <a href="apply/private-pension" class="govuk-link--no-visited-state">
          Occupational/ workplace pension qu
        </a>
      </h2>
      <p>June 2022</p>

    </div>
  </div>

{% endblock %}
